.list-weather {
    display: flex;
    align-items: center;
    @media screen and (max-width: 720px) {
        position: relative;
        left: calc(100%/4);
    }
    .card  {
        margin: 0px 5px;
    }
}
.block-7day {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 660px;
    height: 524px;
    margin: 20px;
    padding: 50px 30px;
    overflow: hidden;
    @media screen and (max-width: 720px) {
        width: calc(100% - 20px);
        height: fit-content;
        align-items: center;
        padding: 32px 24px;
        margin: 0 auto;
    }
    &__headline {
        font-weight: bold;
        font-size: 32px;
        line-height: 32px;
        color: #2C2D76;
    }
    &__select {
        margin: 32px 0px 54px;
        @media screen and (max-width: 720px) {
            margin: 32px 0px 32px;
            
        }
    }
    &__button {
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(../assets/icons/chevron-bottom.svg);
        @media screen and (max-width: 720px) {
            display: none;
        }
        &:hover {
            cursor: pointer;
        }
        &_left {
            transform: rotate(90deg);
        }
        &_right {
            transform: rotate(-90deg);
        }
    }
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(4, 5, 73, 0.25), 14px 14px 20px rgba(5, 6, 114, 0.2);
    border-radius: 8px;
}