
@import "./assets/variables.scss";

@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu'), url(./assets/fonts/Ubuntu-Bold.ttf) format('opentype');
}

@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu'), url(./assets/fonts/Ubuntu-Light.ttf) format('opentype');
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: 900;
    src: local('Ubuntu'), url(./assets/fonts/Ubuntu-Medium.ttf) format('opentype');
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: 900;
    src: local('Ubuntu'), url(./assets/fonts/Ubuntu-Regular.ttf) format('opentype');
}

body, input, li, ul, #root {
  padding: 0px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  background-color: $accent;
}

button {
  background-color: inherit;
  border: none;
}

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: $mobile) {
    padding: 30px;
  }
}

.title {
  margin-bottom: 60px;
  z-index: 2;
  @media screen and (max-width: $mobile) {
    margin-bottom: 24px;
  }
  h1 {
    font-weight: bold;
    font-size: 102px;
    line-height: 122px;
    color: $base;

    @media screen and (max-width: $mobile) {
      font-size: 32px;
      line-height: 32px;
    }

    &:nth-child(2) {
      margin-left: 398px;
      @media screen and (max-width: $tablet) {
        margin-left: 310px;
      }
      @media screen and (max-width: $mobile) {
        margin-left: 100px;
      }
    }
  }
}

.blocks {
  display: flex;
  z-index: 2;

  @media screen and (max-width: $tablet) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.background-img {
  position: fixed;
  max-width: 600px;
  height: 800px;
  z-index: 1;

  &_left {
    bottom: 0px;
    left: 0px;
  }
  
  &_right {
    right: 0px;
    top: 0px;
  }
}